<!-- 添加导航选项卡 -->
<ul class="nav nav-tabs mb-1" id="serviceTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="alignment-tab" data-bs-toggle="tab" data-bs-target="#alignment" type="button" role="tab">
            <i class="bi-calendar me-2"></i>音频对齐
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="batch-tab" data-bs-toggle="tab" data-bs-target="#batch" type="button" role="tab">
            <i class="bi bi-collection me-2"></i>批量对齐
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="duration-tab" data-bs-toggle="tab" data-bs-target="#duration" type="button" role="tab">
            <i class="bi me-1"></i>计算时长
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="listcompare-tab" data-bs-toggle="tab"
                data-bs-target="#listcompare-content" type="button" role="tab"
                aria-controls="listcompare-content" aria-selected="false">
            <i class="bi bi-arrow-left-right me-1"></i>音素比较
        </button>
    </li>
</ul>